#Make vim the default editor
export EDITOR="vim"

#Prefer US English and use UTF-8
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"

# GOPATH
export GOPATH=$HOME/dev/go

# General binary dumping ground
export PATH="$PATH:~/dev/bin"

# Flutter Bin
export PATH="$PATH:~/dev/flutter-source/flutter/bin"

# COMPOSER
export PATH="$PATH:$HOME/.config/composer/vendor/bin"

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

# Homebrew Paths
export PATH="$PATH:/home/linuxbrew/.linuxbrew/bin"
export PATH="$PATH:/home/linuxbrew/.linuxbrew/sbin"

# General Paths
export PATH="$PATH:/usr/local/sbin"
export PATH="$PATH:/usr/local/bin"
export PATH="$PATH:/usr/sbin"
export PATH="$PATH:/usr/bin"
export PATH="$PATH:/sbin"
export PATH="$PATH:/bin"
export PATH="$PATH:/usr/games"
export PATH="$PATH:/usr/local/games"
export PATH="$PATH:/snap/bin"

# GOLANG
export PATH="$PATH:/usr/local/go/bin"

# Nodejs

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

