

#stolen from Frank Van Der Herten's .dotfiles
function weather() {
   city="$1"

   if [ -z "$city" ]; then
      eval "curl http://wttr.in/peterborough%20ontario\?2n"
   else
      eval "curl http://wttr.in/${city}\?2n"
   fi
}


# Scrape a single webpage with all assets
function scrapeUrl() {
    wget --adjust-extension --convert-links --page-requisites --span-hosts --no-host-directories "$1"
}


# All the dig info
function digga() {
	dig +nocmd "$1" any +multiline +noall +answer
}

archive () {
   zip -r "$1".zip -i "$1" ;
}

#  Commit everything
function commit() {
  commitMessage="$1"

  if [ "$commitMessage" = "" ]; then
     commitMessage="wip"
  fi

  git add .
  eval "git commit -a -m '${commitMessage}'"
}

function db {
    if [ "$1" = "refresh" ]; then
        mysql -uroot -e "drop database $2; create database $2"
    elif [ "$1" = "create" ]; then
        mysql -uroot -e "create database $2"
    elif [ "$1" = "drop" ]; then
        mysql -uroot -e "drop database $2"
    fi
}
